<p>header works!</p>
<div class="navigate">
  <button routerLink="/auth/login">Redirect to login</button>
  <button routerLink="/auth/sign-up">Redirect to sign up</button>
</div>
<ul>
  <li>
    <img
      src="assets/images/2000px-Flag_of_Vietnam.svg.png"
      alt="switch language vi"
      (click)="onSwitchLanguge('vi')"
    />
  </li>
  <li>
    <img
      src="assets/images/Flag_of_the_United_Kingdom.svg"
      alt="switch language en"
      (click)="onSwitchLanguge('en')"
    />
  </li>
</ul>
